@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#upbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 36vw;
    height: 80vh;
    background: #387478;
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Freeman', serif;
    width: 20vw;
    height: 10vh;
    background: #243642;
    border-radius: 10px;
    color: #FFFF;
    cursor: pointer;
}

#login-button:hover {
    border: 2px solid #F9A826;
    color: #F9A826;
}

#downbar {
    width: 36vw;
    height: 20vh;
    background: #708D8F;
}