@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: #F7E7DC; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo_img {
    width: 162px; 
    height: 241px; 
    border-radius: 10%;
    object-fit: cover; 
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
b {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #387478;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7E7DC;
    padding: 20px;
    height: auto; 
}
.vertical-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 200px;
}
.horizontal {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}
.var-horizontal {
    display: flex;
    align-items: top;
    justify-content: space-between; 
    width:863px; 
}

.horizontal-left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 200px;
}

.var-vertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; 
    height: 241px; 

}
.openPopUp{
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: space-between; 
    height: 241px;
    z-index: 20; 
}
.custom-textarea {
    width: 100%; 
    width: 1100px; 
    height: 150px; 
    padding: 10px; 
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    border: 2px solid #387478; 
    border-radius: 10px; 
    background-color: #d6d6d6; 
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s; 
    resize: none; 
}
  
  
.custom-textarea:focus {
    outline: none; 
    border-color: #5d8184; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
}

.custom-textarea::placeholder {
    color: #aaa; 
    font-style: italic; 
}
.button-style {
    background: none;
    border: none;
    color: #970000;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-family: "Nunito", sans-serif; 
    font-weight: bold;
}
  