#movieInfo{
    width: 1066px;
    height: 247px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#movieCover{
    width: 162px;
    height: 100%;
}

#movieUpInfos{
    display: flex;
    flex-direction: row;
}

