/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/create_review/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: #F7E7DC; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.photo_img {
    width: 162px; 
    height: 241px; 
    border-radius: 10%;
    object-fit: cover; 
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
b {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7E7DC;
}
.vertical-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #F7E7DC;
    gap: 40px;
}
.horizontal {
    display: flex;
    align-items: center;  
    justify-content: center; 
    gap: 10px;
}

.horizontal-left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 10px;
}
.var-horizontal {
    display: flex;
    align-items: top;
    justify-content: space-between; 
    width:1100px; 
}
.var-vertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; 
    height: 241px; 
}
.vertical-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #F7E7DC;
    padding: 120px;
    gap: 120px;
}
.title-textarea {
    border: none;
    width: 100%; 
    width: 1100px; 
    height: 30px; 
    padding: 10px; 
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px; 
    background-color: #FFDCA3; 
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s; 
    resize: none; 
}
  
  
.title-textarea:focus {
    outline: none; 
    border-color: #5d8184; 
    background-color: #ffcd7c; 
}

.title-textarea::placeholder {
    color: #aaa; 
    font-style: italic; 
}

.body-textarea {
    border: none;
    width: 100%; 
    width: 1100px; 
    height: 150px; 
    padding: 10px; 
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px; 
    background-color: #FFDCA3; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    resize: none; 
}
  
  
.body-textarea:focus {
    outline: none; 
    border-color: #5d8184; 
    background-color: #ffcd7c; 
}

.body-textarea::placeholder {
    color: #aaa; 
    font-style: italic; 
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/button/Button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.my-button {
    background-color: #387478;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.3s;
    width: 200px; 
    height: 40px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center; 
}


.my-button:hover {
    background-color: #5d8184;
}
