#container {
    position: relative; /* Permite o posicionamento absoluto dos filhos */
    width: 100vw;       /* 100% da largura da tela */
    height: 100vh;      /* 100% da altura da tela */
    background-color: #387478;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a rolagem e garante que o conteúdo não ultrapasse a tela */
}

#filtro {
    position: absolute; /* Posiciona o filtro dentro de #container */
    top: 11vh;          /* 20% da altura da tela */
    left: 30vw;         /* 30% da largura da tela */
    transform: translate(-50%, -50%); /* Ajusta para centralizar */
}

#notFound {
    display: flex;
    flex-direction: column;  /* Organiza os itens verticalmente */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center;     /* Alinha os itens horizontalmente ao centro */
    height: 100vh;           /* Ocupa 100% da altura da tela */
    text-align: center;      /* Garante que o texto fique centralizado */
}

#messageNotFound {
    margin-top: 20px;
    color: #FD0808;
    font-family: "Nunito", serif;
    font-size: 24px;
}


