.top-banner {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 150px;
  background-color: #387478;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card {
  margin-top: 50px; /* Adiciona espaçamento entre o TopBanner e o UserCard */
  margin-left: 50px;
}

.user-card-container{
  width: 340px;
}

.avatar {
  width: 130px; /* Largura do avatar */
  height: 130px; /* Altura do avatar */
  border-radius: 50%; /* Formato circular */
  overflow: hidden; /* Garante que o SVG não ultrapasse os limites */
  background-color: #ccc; /* Cor de fundo temporária para teste */
}

.avatar svg {
  width: 100%; /* Ocupa 100% da largura do contêiner */
  height: 100%; /* Ocupa 100% da altura do contêiner */
}

.error-message {
  position: fixed; /* Fixa a mensagem na tela */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição para realmente centralizar */
  font-size: 3rem; /* Tamanho grande da fonte */
  color: red; /* Cor da mensagem de erro */
  text-align: center; /* Alinha o texto no centro */
  background-color: rgba(247, 243, 243, 0.7); /* Fundo escuro para destacar a mensagem */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  z-index: 1000; /* Garante que a mensagem apareça acima de outros elementos */
}

.back-button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 480px;
}

.back-button:hover {
  background-color: #020b0b;
}