/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/review/review.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: #F7E7DC; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.photo_img {
    width: 162px; 
    height: 241px; 
    border-radius: 10%;
    object-fit: cover; 
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
b {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
likes {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #387478;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7E7DC;
    padding: 20px;
    height: 100vh;
}
.horizontal {
    display: flex;
    align-items: center;  /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaçamento entre os itens */
}
.var-horizontal {
    display: flex;
    align-items: top;
    justify-content: space-between; 
    width:863px; 
}

.horizontal-left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 200px;
}

.var-vertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; 
    height: 241px; 
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/review_detail/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: #F7E7DC; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.photo_img {
    width: 162px; 
    height: 241px; 
    border-radius: 10%;
    object-fit: cover; 
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "Quicksand", sans-serif;
}
b {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    line-height: 1.6;
    font-family: "Nunito", sans-serif;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7E7DC;
    padding: 20px;
    height: 100vh;
}
.horizontal {
    display: flex;
    align-items: center;  /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaçamento entre os itens */
}

.horizontal-left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 20px;
}

.var-vertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; 
    height: 241px; 
}


/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/button/Button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.my-button {
    background-color: #387478;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
    width: 200px; 
    height: 40px;
    text-align: center;
}

.my-button:hover {
    background-color: #45a049;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/heart_button/heart_button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.heart-button {
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 10;
}

.heart-button:hover {
    transform: scale(1.1);
}

.heart-icon {
    width: 100%;
    height: 100%;
    fill: black;
    transition: fill 0.3s;
}

.heart-button:active .heart-icon {
    fill: darkred;
}

